/* overwrite some of the ebreviar's settings -------------------------------- */

body, html {
  background-color: #cfcfcf; font-family: Bookman, Charis SIL, serif;
}

#contentRoot {
	width: 715px; padding: 30px; margin: 0 auto;
	background-color: white;
}

input[type='submit'] { font-size: 70%; font-family: Arial, sans-serif; }
input.button { min-width: 0; }

b { font-weight: normal; } /* bold is much overused at ebreviar */
.preces p.partR, p.partV, p.intro { font-weight: normal; }


/* eantifonar proper content ------------------------------------------------- */

.eantifonar-antifona { margin: 10px 0 30px 0; }

#eantifonar-menu {
	display: block; width: 400px; height: 22px; vertical-align: middle; font-size: 90%;
	background-color: black; color: white; opacity: 0.8;
	font-family: Arial, sans-serif;
	position: fixed; top: 0; right: 0;
}
#eantifonar-menu .content {
  width: 400px; height: 100px; position: absolute; left: 0; top: 20px; display: none;
  padding-top: 20px;
  background-color: black; color: white; vertical-align: middle;
}
#eantifonar-menu .content p { margin: 3px 20px; color: white; }
#eantifonar-menu .menu-item-title { position: absolute; top: 0; width: 130px; text-align: center; }
#eantifonar-menu .menu-item-title.a { left: 0; }
#eantifonar-menu .menu-item-title.b { left: 130px; }
#eantifonar-menu .menu-item-title.c { left: 260px; }
#eantifonar-menu div:hover .content { display: block; }
#eantifonar-menu .content:hover { display: block; }

#eantifonar-menu .menu-item-title a { color: white; background: none; }
